.button {
  width: 315px;
  height: 40px;
  background-color: #000000;
  border-radius: 10px;
  border: 0px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #996b60;
}
