* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookList {
  min-height: calc(100vh - 138px);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.bookList_headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookList_preloader {
  margin: 0 auto;
}

.bookList_title {
  display: flex;
  align-items: center;
  flex: 2;
}

.bookList_slider {
  flex: 1.5;
}
