* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 300px;
  height: 200px;
}

.bookCard_title:hover {
  color: #996b60;
}

.bookCard_title {
  font-family: Lato-Regular;
  font-size: 22px;
  line-height: 44px;
  color: #000000;
  cursor: pointer;
}

.bookCard_author {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}
