* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookCard {
  margin-bottom: 10px;
}

.wrapper {
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.wrapper:hover::after {
  content: attr(data-description);
  position: absolute;
  top: -30px;
  left: 100px;
  padding: 3px;
  font-stretch: ultra-condensed;
  font-size: 14px;
  font-weight: 100;
  color: #b92828;
}

.bookCard_title {
  font-family: Lato-Regular;
  font-size: 22px;
  color: #000000;
  margin-bottom: 10px;
}

.bookCard_author {
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.bookCard_text {
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  align-items: center;
  height: 100%;
  top: 0;
}

.bookCard_hiddenText {
  opacity: 0;
}
