* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.footer {
  background-color: #191919;
}

.footer_text {
  font-family: Roboto;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 0;
}
