.bestsellerCard {
  max-width: 250px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.bestsellerCard_content {
  display: flex;
  flex-direction: column;
}

.bestsellerCard_image {
  width: 240px;
  height: 360px;
}

.bestsellerCard_likeWrapper {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
}

.bestsellerCard_title {
  font-family: Lato-Regular;
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  margin: 10px 0px;
  max-width: 190px;
}

.bestsellerCard_blackLike {
  margin: 10px;
  cursor: pointer;
  fill: #000000;
  opacity: 60%;
}

.bestsellerCard_redLike {
  margin: 10px;
  cursor: pointer;
  fill: #996b60;
  opacity: 60%;
}

.bestsellerCard_redLike:hover {
  animation: hoverLike 0.5s ease-in 1 forwards;
}

.bestsellerCard_blackLike:hover {
  animation: hoverLike 0.5s ease-in 1 forwards;
}

@keyframes hoverLike {
  20% {
    opacity: 60%;
  }
  40% {
    opacity: 70%;
  }
  60% {
    opacity: 80%;
  }
  80% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}

.bestsellerCard_text {
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
}

.bestsellerCard_author {
  font-family: Roboto;
  font-size: 18px;
  color: #000000;
  margin: 10px 0px;
  font-weight: bold;
}

.bestsellerCard_links {
  display: flex;
  flex-direction: column;
}

.bestsellerCard_link {
  background-color: #000000;
  color: #ffffff;
  border-radius: 7px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 28px;
  padding: 5px 0px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  width: 240px;
}

.bestsellerCard_link:hover {
  background-color: #996b60;
}
