.wrapper {
  display: flex;
  align-items: center;
}

.booksSearch_image {
  cursor: pointer;
  margin-left: 10px;
}

.booksSearch_params {
  display: flex;
  justify-content: start;
  margin-left: 40px;
}

.booksSearch_params_text {
  padding: 0 10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
}

.booksSearch_params_isActive {
  cursor: default;
  color: #996b60;
  text-decoration: underline;
}

.bookSearch_clear {
  margin-right: 10px;
  cursor: pointer;
}
